<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="/static/bower_components/pure/pure-min.css">
      <link rel="stylesheet" type="text/css" href="/static/bower_components/pure/tables-min.css">
      <link rel="stylesheet" type="text/css" href="/static/app.css">
    </head>
    <body>
        <div id="app"></div>
        <script type="text/javascript" src="/static/app.js"></script>
        <script type="text/javascript">
         var node = document.getElementById('app');
         var app = Elm.Main.embed(node);
        </script>
    </body>
</html>
